In [1]:
!pip install git+https://github.com/JustAnotherArchivist/snscrape.git

Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to c:\users\lip22mpa\appdata\local\temp\pip-req-build-uy7i1sv3
  Resolved https://github.com/JustAnotherArchivist/snscrape.git to commit c3b216c3cb8593513a018eb3ec4fd6f18d3aba5b
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Requirement already satisfied: beautifulsoup4 in c:\anaconda\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (4.11.1)
Requirement already satisfied: lxml in c:\anaconda\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (4.8.0)
Requirement already satisfied: filelock in c:\anaconda\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (3.6.0)
Requirement already satisfied: requests[socks] in c:\anaconda\lib\site-packages (from snscrape==0.6.2.20230321.dev39+gc3b216c) (2.27.1)
Requirement already satisfied: soupsieve>1.2 in c:\anaconda\lib\site-packages (from beautifulsoup4->snscrape==0.6.2.20230321.dev39+gc3b216c) (2.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\anaconda\lib\site-packages (from requests[socks]->snscrape==0.6.2.20230321.dev39+gc3b216c) (1.7.1)

  Running command git clone -q https://github.com/JustAnotherArchivist/snscrape.git 'C:\Users\lip22mpa\AppData\Local\Temp\pip-req-build-uy7i1sv3'

In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [5]:
# Setting variables to be used below
maxTweets = 10000

tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:aajtak since:2023-05-01 until:2023-05-31').get_items()):
    if i>maxTweets:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.rawContent, tweet.user.username])

In [6]:
# Creating a dataframe from the tweets list above
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

# Display first 5 entries from dataframe
tweets_df1.head()

,Datetime,Tweet Id,Text,Username
0,2023-05-30 19:19:54+00:00,1663626303851966465,गोवा के मुख्यमंत्री प्रमोद सावंत ने मंगलवार को...,aajtak
1,2023-05-30 19:11:54+00:00,1663624293983350784,इन दिनों सारा अली खान और विक्की कौशल अपनी अपकम...,aajtak
2,2023-05-30 19:10:25+00:00,1663623919960481793,साहिल और साक्षी की इनसाइड स्टोरी...\n#Vardaat ...,aajtak
3,2023-05-30 18:49:39+00:00,1663618692041564165,टीम उद्धव ठाकरे का बड़ा दावा\n\n#uddhavthacker...,aajtak
4,2023-05-30 18:45:11+00:00,1663617566856695810,पाकिस्तान में भारत के नए संसद भवन की तारीफ़ \n...,aajtak

In [7]:
# Export dataframe into a CSV
tweets_df1.to_csv('TimesNowTweets.csv', sep=',', index=False)

In [8]:
times_now = pd.read_csv('TimesNowTweets.csv',index_col = 0)

In [9]:
times_now.head(5)

,Tweet Id,Text,Username
Datetime,,,
2023-05-30 19:19:54+00:00,1663626303851966465,गोवा के मुख्यमंत्री प्रमोद सावंत ने मंगलवार को...,aajtak
2023-05-30 19:11:54+00:00,1663624293983350784,इन दिनों सारा अली खान और विक्की कौशल अपनी अपकम...,aajtak
2023-05-30 19:10:25+00:00,1663623919960481793,साहिल और साक्षी की इनसाइड स्टोरी...\n#Vardaat ...,aajtak
2023-05-30 18:49:39+00:00,1663618692041564165,टीम उद्धव ठाकरे का बड़ा दावा\n\n#uddhavthacker...,aajtak
2023-05-30 18:45:11+00:00,1663617566856695810,पाकिस्तान में भारत के नए संसद भवन की तारीफ़ \n...,aajtak

In [14]:
def tweets(username,since,upto,maxtweets):
    maxTweets = maxtweets
    tweets_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:{0} since:{1} until:{2}'.format(username,since,upto)).get_items()):
        if i>maxTweets:
            break
        tweets_list.append([tweet.date, tweet.id, tweet.rawContent, tweet.user.username])
    tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])
    tweets_df.to_csv('{0}.csv'.format(username), sep=',', index=False)
    return tweets_df

In [16]:
tweets('aajtak','2023-05-01','2023-05-31',10000)

Could not translate t.co card URL on tweet 1660489807896760321
Could not translate t.co card URL on tweet 1660336653003550721
Could not translate t.co card URL on tweet 1659091381552390145
Could not translate t.co card URL on tweet 1659048348916101120
Could not translate t.co card URL on tweet 1658358653156577280
Could not translate t.co card URL on tweet 1657387358193348608
Could not translate t.co card URL on tweet 1657234484696170497
Could not translate t.co card URL on tweet 1656555703765442561
Could not translate t.co card URL on tweet 1655867299755073537
Could not translate t.co card URL on tweet 1655775280261128192
Could not translate t.co card URL on tweet 1654516847889244170
Could not translate t.co card URL on tweet 1653409068323676160
Could not translate t.co card URL on tweet 1652865854697086977
Could not translate t.co card URL on tweet 1652865707896451076
Stopping after 20 empty pages

,Datetime,Tweet Id,Text,Username
0,2023-05-30 19:19:54+00:00,1663626303851966465,गोवा के मुख्यमंत्री प्रमोद सावंत ने मंगलवार को...,aajtak
1,2023-05-30 19:11:54+00:00,1663624293983350784,इन दिनों सारा अली खान और विक्की कौशल अपनी अपकम...,aajtak
2,2023-05-30 19:10:25+00:00,1663623919960481793,साहिल और साक्षी की इनसाइड स्टोरी...\n#Vardaat ...,aajtak
3,2023-05-30 18:49:39+00:00,1663618692041564165,टीम उद्धव ठाकरे का बड़ा दावा\n\n#uddhavthacker...,aajtak
4,2023-05-30 18:45:11+00:00,1663617566856695810,पाकिस्तान में भारत के नए संसद भवन की तारीफ़ \n...,aajtak
...,...,...,...,...
8132,2023-05-01 02:45:05+00:00,1652866701799686146,आज का सुविचार...\n#MondayMotivation #Motivatio...,aajtak
8133,2023-05-01 02:42:43+00:00,1652866106133032960,गाड़ी में तेल भरवाने से पहले यहां चेक करें पेट...,aajtak
8134,2023-05-01 02:41:43+00:00,1652865854697086977,"Aaj Ka Panchang: आज 01 मई 2023 का शुभ मुहूर्त,...",aajtak
8135,2023-05-01 02:41:08+00:00,1652865707896451076,"Mohini Ekadashi 2023: आज है मोहिनी एकादशी, जान...",aajtak
8136,2023-05-01 02:31:43+00:00,1652863339196993536,जंतर-मंतर पर 'दंगल' जारी... समेत देखिए सुबह की...,aajtak